@use "../../styles/variables" as *;
@use "../../styles/mixins";

main {
  animation: slide-down 2.25s cubic-bezier(0.23, 1, 0.32, 1);

  @include mixins.default-align();

  flex-direction: column;

  div.hero {
    h1 {
      font-weight: 200;
      font-size: 2.25rem;

      @include mixins.center-paragraph(3rem);
    }

    p {
      margin: 1.25rem auto 0;
      width: 31.25rem;

      @include mixins.center-paragraph(1.5rem);
    }
  }

  > div:last-child {
    margin-top: 3.75rem;

    @include mixins.default-align();

    gap: 1.75rem;
  }
}

@keyframes slide-down {
  from {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
  }
}

@media (max-width: 1050px) {
  main {
    > div:last-child {
      flex-direction: column;
    }
  }
}

@media (max-width: 490px) {
  main {
    div.hero {
      h1 {
        font-size: 1.875rem;
        line-height: 2.5rem;
      }

      p {
        margin: 1rem auto 0;
        width: 25rem;
      }
    }
  }
}

@media (max-width: 445px) {
  main {
    div.hero {
      h1 {
        font-size: 1.625rem;
        line-height: 2.3125rem;
      }

      p {
        width: 21.25rem;
      }
    }
  }
}

@media (max-width: 400px) {
  main {
    div.hero {
      h1 {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }

      p {
        width: 20rem;
      }
    }

    > div:last-child {
      margin-top: 4.75rem;
    }
  }
}

@media (max-width: 350px) {
  main {
    div.hero {
      h1 {
        font-size: 1.3125rem;
      }

      p {
        width: 16.5rem;
      }
    }

    > div:last-child {
      margin-top: 3.75rem;
    }
  }
}
