@use "../../styles/variables" as *;
@use "sass:color";

$colors: (
  "cyan": $cyan,
  "red": $red,
  "orange": $orange,
  "blue": $blue,
);

@each $key, $value in $colors {
  section.#{$key}-card {
    border-color: $value;
    transition-duration: 0.5s;

    &:hover {
      border-color: color.adjust(
        $value,
        $lightness: -10%
      ); // Sass is beautiful '-'
    }
  }
}

section {
  width: 23rem;
  padding: 1.75rem 2rem;
  border-top: 5px solid;
  box-shadow: 0 12px 14px rgba(darken($blue, 30), 0.15);
  border-radius: 5px;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    font-size: 1.3125rem;
  }

  p {
    font-size: 0.875rem;
    margin-top: 0.75rem;
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
  }

  img {
    display: block;
    margin-left: auto;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  & + section {
    margin-top: 1.75rem;
  }
}

@media (max-width: 1050px) {
  section {
    width: 100%;
  }
}

@media (max-width: 490px) {
  section {
    padding: 1.375rem 1.75rem;

    h2 {
      font-size: 1.1875rem;
    }

    p {
      font-size: 0.8rem;
      margin-top: 0.25rem;
      margin-bottom: 2rem;
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
